// scss-lint:disable SelectorFormat PlaceholderInExtend QualifyingElement

// Wrapper for list field groups
.gfield_list_container {
  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  th {
    @include gf-sublabel();
    margin: 0;
    padding-bottom: .5rem;
    padding-top: .5rem;
  }
}

.gfield_list_cell {
  padding-bottom: $grid-gutter-width-base / 6;
  padding-right: $grid-gutter-width-base / 6;
}

// Table cell that surrounds add/remove icon buttons
.gfield_list_icons {
  .add_list_item,
  .delete_list_item {
    display: inline-block;
    margin: 0 5px 5px;
    width: 1.5rem;

    @include media-breakpoint-up(md) {
      display: block;
      width: 1rem;
    }
  }
}
