// sass-lint:disable class-name-format placeholder-in-extend no-qualifying-elements

// Wrapper for form body (wraps around .gform_fields)
.gform_body {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

// Wrapper for form submit button, prev/next buttons
.gform_footer {
  margin-top: 1.75rem;
}

// Unordered list of gfield's
.gform_fields {
  @include list-unstyled();
}

// Field description text
.gfield_description {
  @extend .form-text;
  color: $text-muted;
  margin-bottom: .5rem; // more than what Athena provides out of the box, but looks better
  margin-top: .5rem;
}
