// sass-lint:disable class-name-format placeholder-in-extend no-qualifying-elements

input[type='checkbox'],
input[type='radio'] {
  @extend .form-check-input;
}

// Wrapper for .gchoice_* list items
.gfield_radio,
.gfield_checkbox {
  @extend .form-check;
  @include list-unstyled();
  align-items: start;
  display: flex;
  flex-direction: column;
}

// Wrapper for checkbox, radio label + input.
//
// We add the .form-check-label extend here instead of on the inner label
// because Athena expects .form-check-label to wrap around the
// checkbox/radio button.
*[class^='gchoice'] {
  @extend .form-check-label;

  label {
    cursor: inherit;
  }
}
