// sass-lint:disable class-name-format placeholder-in-extend no-qualifying-elements

@mixin gf-sublabel() {
  color: $brand-default-aw;
  font-size: $font-size-xs;
  font-weight: normal;
  letter-spacing: $letter-spacing-base;
  margin-top: .5rem;
  text-transform: uppercase;
}

@mixin gf-advanced-field-wrappers() {
  .ginput_container_name,
  .ginput_container_address,
  legend+.ginput_complex,
  legend+.ginput_list_container,
  .clear-multi {
    @content;
  }
}
