// scss-lint:disable SelectorFormat PlaceholderInExtend QualifyingElement

// Required field asterisk
.gfield_required {
  display: none;
}

// .gfield with validation errors on submit
.gfield_error {
  @extend .has-danger;

  @include gf-advanced-field-wrappers() {
    label {
      color: $brand-danger-aw; // catch sublabels
    }
  }

  .gfield_label {
    @extend .form-control-label; // just catch top-level labels
  }

  .validation_message {
    @extend .form-control-feedback;
  }

  input:not([type="button"]):not([type="submit"]):not([type="radio"]):not([type="checkbox"]):not([type="file"]),
  select,
  textarea {
    @extend .form-control-danger;
  }
}


// Honeypot validation field
.gform_validation_container {
  display: none;
}
